@media (max-width: 1200px) { /* large */ }
@media (max-width: 992px) { /* tablet landscape */ }
@media (max-width: 768px) { /* tablet portrait */ }
@media (max-width: 576px) { /* phones */ }
@media (max-width: 480px) { /* small phones */ }
